<p id="notice"><%= notice %></p>

<p>
	<strong>Design Role</strong>
	<%= @design.design_role %>
</p>
<p>
	<strong>Design Type</strong>
	<%= @design.design_type %>
</p>
<p>
	<strong>Design Subtype</strong>
	<%= @design.design_subtype %>
</p>
<p>
	<strong>Connection Type</strong>
	<%= @design.connection_type %>
</p>

<%= link_to "Back", designs_path %>