<%= form_for(@bundle) do |f| %>
  <% if @bundle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bundle.errors.count, "error") %> prohibited this bundle from being saved:</h2>

      <ul>
      <% @bundle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uid %><br>
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :bundle_errors %><br>
    <%= f.text_area :bundle_errors %>
  </div>
  <div class="field">
    <%= f.label :environment %><br>
    <%= f.text_field :environment %>
  </div>
  <div class="field">
    <%= f.label :firmware_revision %><br>
    <%= f.text_field :firmware_revision %>
  </div>
  <div class="field">
    <%= f.label :company %> <%=link_to 'Create New?', new_company_path%><br>
    <%= f.collection_select( :company_id, Company.all, :id, :company_name, 
    {selected: @bundle.company_id, include_blank: false}) %>
  </div>
    <div class="field">
    <%= f.label :design %> <%=link_to 'Create New?', design_new_path%><br>
    <%= f.collection_select( :design_id, Design.all, :id, :design_role, :design_type, :design_subtype, 
    {selected: @bundle.design_id, include_blank: false}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
